/* GENERAL */
:root {
  --darken: rgba(0, 0, 0, 0.6);
  --white: rgba(255, 255, 255, 0.9);
  --black: rgba(0, 0, 0, 0.78);
  --applegrey: #f3f3f3;
  --trans-standard: all 0.5s ease-in-out;
}
h1 {
  font-family: Open Sans;
  color: var(--black);
}
.full-page {
  height: 100vh;
  min-height: 700px;
  width: 100%;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--darken);
}
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mx-auto {
  margin: 0 auto;
}
.page-title {
  font-size: 3.5rem;
  font-weight: bold;
}
/* SHADOWS */
.shadowed {
  -webkit-filter: drop-shadow(2px 7px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px 7px 5px rgba(0, 0, 0, 0.3));
}
/* BG COLORS */
.greyBG {
  background: linear-gradient(270deg, #dadada, #f8f8f8);
}
.blueBG {
  background: linear-gradient(90deg, #5c5cff, #dedeff);
}
.greenBG {
  background: linear-gradient(270deg, #88ff88, #e9ffe9);
}
.orangeBG {
  background: linear-gradient(90deg, rgb(255, 181, 97), rgb(255, 242, 226) 9);
}
/* BUTTONS */
.my-button {
  font-size: 1.3rem;
  width: 200px;
  padding: 5x 0px;
  overflow: hidden;
  position: relative;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  box-shadow: 0 7px 12px -5px rgba(0, 0, 0, 0.3);
}
/* WHITE BUTTONS */
.my-button-white {
  border-color: var(--white);
  color: var(--white);
  transition: var(--trans-standard);
}
.my-button-white:hover {
  color: var(--black);
  transition: var(--trans-standard);
}
.my-button-white::before {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--trans-standard);
}
.my-button-white:hover:before {
  width: 100%;
  transition: var(--trans-standard);
}
/* BLACK BUTTONS */
.my-button-black {
  border-color: var(--black);
  color: var(--black);
  transition: var(--trans-standard);
}
.my-button-black:hover {
  color: var(--white);
  transition: var(--trans-standard);
}
.my-button-black::before {
  content: '';
  position: absolute;
  background-color: var(--black);
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--trans-standard);
}
.my-button-black:hover:before {
  width: 100%;
  transition: var(--trans-standard);
}
/* ICONS */

/* NAV */

.nav-container {
  position: relative;
}
.nav-icon {
  position: fixed;
  width: 80px;
  height: 80px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  z-index: 6;
}
.nav-modal {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 270px;
  background: #fff;
  transition: var(--trans-standard);
  z-index: 2;
  transform: translateX(100%);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.nav-modal.active {
  height: 100vh;
  transition: var(--trans-standard);
  transform: translateX(0%);
}

.nav-list {
  list-style: none;
  text-align: left;
  position: relative;
  top: 100px;
}
.nav-item {
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-top: 10px;
  text-transform: uppercase;
}
.nav-item a {
  color: #000;
}
.nav-social-icon {
  height: 40px;
  width: 40px;
}
.hamburger {
  width: 35px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  z-index: 100;
}
.hamburger:before {
  top: 13px;
}
.hamburger:after {
  top: -13px;
}
.nav-icon.active .hamburger {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.nav-icon.active .hamburger:before {
  transform: rotate(225deg);
  top: 0;
  background: #000000;
}
.nav-icon.active .hamburger:after {
  transform: rotate(-225deg);
  top: 0;
  background: #000000;
}

.nav-icon.nav-black .hamburger {
  background: #000000;
}
.nav-icon.nav-black .hamburger:before,
.nav-icon.nav-black .hamburger:after {
  background: #000000;
}
/* LANDING */
.landing-BG {
  height: 100vh;
  width: 100%;
  background: url('./img/Landing.jpg') no-repeat center 0px;
  background-size: cover;
}
.land {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landing-name {
  font-size: 5.8rem;
}
@media (max-width: 800px) {
  .landing-name {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  .landing-name {
    font-size: 4rem;
  }
}
@media (max-width: 420px) {
  .landing-name {
    font-size: 2.8rem;
  }
}
/* ABILITIES */
.p-card {
  padding: 25px;
}
.abilities-icon {
  font-size: 4rem;
  color: var(--black);
}
@media (max-width: 450px) {
  .p-card {
    padding: 25px 0;
  }
}
/* ABOUT */
.About-BG {
  min-height: 50vh;
  padding: 50px 0px;
}
.about-page {
  min-height: 50vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-card {
  border: 1px solid black;
  max-width: 300px;
}
.about-text {
  padding: 25px;
}
@media (max-width: 767px) {
  .about-text {
    padding: 0px;
  }
}
/* TECH */
.tech-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.tech-icon {
  height: 95px;
  width: auto;
  margin: 20px;
}
/* PORTFOLIO */
.full-portfolio-page {
  min-height: 100vh;
  width: 100%;
  padding: 50px 0;
}
.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-icon {
  height: auto;
  width: 100%;
}
.portfolio-page {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-reverse-page {
  display: flex;
  flex-wrap: wrap-reverse;
}
.flex-item-text {
  width: 50%;
}
.flex-item-img {
  width: 50%;
}
.flex-item {
  width: 50%;
}
.portfolio-text {
  padding: 0 30px;
}
@media (max-width: 1199px) {
  .reverse-page {
    flex-wrap: wrap-reverse;
  }
  .flex-item {
    width: 100%;
  }
  .portfolio-text {
    padding: 0 0;
  }
  .flex-item-text {
    width: 100%;
  }
  .flex-item-img {
    width: 100%;
  }
}
@media (min-width: 1640px) {
  .flex-item-text {
    width: 40%;
  }
  .flex-item-img {
    width: 60%;
  }
}
/* MEDIA QUERIES: CONTAINERS */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
  .nav-link {
    letter-spacing: 1px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1640px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1840px) {
  .container {
    max-width: 1680px;
    width: 100%;
  }
}
