/* GENERAL */
:root {
  --darken: rgba(0, 0, 0, 0.6);
  --white: rgba(255, 255, 255, 0.9);
  --black: rgba(0, 0, 0, 0.8);
  --applegrey: #f3f3f3;
  --trans-standard: all 0.5s ease-in-out;
}
h1 {
  font-family: Open Sans;
}
.full-page {
  height: 100vh;
  min-height: 700px;
  width: 100%;
}

.landing-BG {
  height: 100vh;
  width: 100%;
  background: url('./img/Landing.jpg') no-repeat center 0px;
  background-size: cover;
}
.land {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--darken);
}
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.greyBG {
  background-color: var(--applegrey);
}
/* BUTTONS */
.my-button {
  font-size: 1.6rem;
  width: 250px;
  padding: 5x 0px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-width: 2px;
  border-style: solid;
}
/* WHITE BUTTONS */
.my-button-white {
  border-color: var(--white);
  color: var(--white);
  transition: var(--trans-standard);
}
.my-button-white:hover {
  color: var(--black);
  transition: var(--trans-standard);
}
.my-button-white::before {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--trans-standard);
}
.my-button-white:hover:before {
  width: 100%;
  transition: var(--trans-standard);
}
/* BLACK BUTTONS */
.my-button-black {
  border-color: var(--black);
  color: var(--black);
  transition: var(--trans-standard);
}
.my-button-black:hover {
  color: var(--white);
  transition: var(--trans-standard);
}
.my-button-black::before {
  content: '';
  position: absolute;
  background-color: var(--black);
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--trans-standard);
}
.my-button-black:hover:before {
  width: 100%;
  transition: var(--trans-standard);
}
/* ICONS */
.icon {
  font-size: 4rem;
}
/* ABOUT */
.About-BG {
  min-height: 50vh;
  background-color: var(--applegrey);
  padding: 50px 0px;
}
.about-page {
  min-height: 50vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-card {
  border: 1px solid black;
  max-width: 300px;
}
/* TECH */
.tech-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.tech-icon {
  height: 100px;
  width: auto;
  margin: 23px;
}
/* PORTFOLIO */
.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-icon {
  height: auto;
  width: 100%;
}

/* MEDIA QUERIES: CONTAINERS */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1180px;
  }
  .nav-link {
    letter-spacing: 1px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1220px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1640px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1840px) {
  .container {
    max-width: 1550px;
    width: 100%;
  }
}
